body{
    background-image: url("background.jpg");
    background-color: rgba(52, 33, 88, 1);
    background-blend-mode: multiply;
}

.homePage{
    color: rgb(209, 109, 201);
    text-align: center;
}

.jumbotron{
    padding-top: 5px;
    padding-bottom: 5px;
    color:rgb(151, 69, 151);
    background-color:rgba(255, 255, 255, 0);
    /*font-family: monospace;*/
    text-align: center;
    border-top: 4px solid rgb(151, 69, 151);
    border-bottom: 4px solid rgb(151, 69, 151);
    border-radius: 0px 0px 0px 0px;
}

.jumbotron:hover{

}